<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>

<style>

body {
wWidth  = $window.width();
        wHeight = $window.height();
	width:700px;
	height:150px;
	position:relative;
	left:35%;
	top:20%;
	margin:-70px 0 0 -135px;
font-family: ;
background-color: #e8e8ee;
}

h1 {
color: navy;
}

h2 {
color: navy;
}

center {

}

</style>


<body>

  <center><h1> A Project That Uses a Lot of Data to do Nothing </h1></center

<br><br>
<h2>The Headlines For Today Are: {{ headlines }}</h2>

<br><br>
<h2>A Recipe That We Found Fitting: {{ recipe }}</h2>

<br><br>
<h2> A Song That Is {{ recipe }} Themed: {{song}} </h2>

</body>
</html>
